.test {
  .events {
    margin-top: 10px;

    span {
      display: block;
    }
  }

  .add-phrase {
    flex-direction: column;
    position: absolute;
    padding: 15px;
    background-color: white;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, .2);
    z-index: 99999;
    display: none;

    &.is_active {
      display: flex;
    }

    .row {
      display: flex;
    }

    p {
      margin-bottom: 10px;

      span.phrase {
        font-weight: bold;
      }

      span.translation {

      }
    }

    button.close {
      position: relative;
      right: -9px;
      top: -10px;
      border: 1px solid black;
      /* padding: 3px; */
      border-radius: 300px;
      width: 22px;
      height: 22px;
      text-align: center;
      display: inline-block;
      background-color: transparent;
      cursor: pointer;

      &:hover {
        background-color: black;
        color: white;
      }
    }

    button.save {
      padding: 7px;
      font-size: 16px;
      color: white;
      background-color: #79c257;
      border-radius: 6px;
      border: none;
      cursor: pointer;

      &:hover {
        opacity: .8;
      }
    }
  }
}
