.read-book-legacy {
  width: 100%;
  height: 100%;
  position: relative;
}

/* ::-moz-selection {
  color: gold;
  background: red;
}

::selection {
  color: gold;
  background: red;
} */


/* .read-book span i:hover {
  background-color: red;
} */
