extends ../app

block variables
	-
		const pageTitle = 'Test';
		const linkVideo = 'https://cometa.stream.voidboost.cc/0b0d283dcde4a56fc6f5a3d5771cea5a:2023070808:NE90T2t2TkRjUWcyRnFqU0VOdXN2ZWtKVlZ4UzhYeDIyem9BbUJXQjY0WTBYYUtHd202Tk5Ja1B5N2VGVm5Sb0N3dHExVDFDYXE3MWUrRCtIQkJ3SUE9PQ==/3/4/5/6/0/6/yo3te.mp4';
		const linkSubtitles = 'https://static.voidboost.com/view/aPtj085e2fT6feci5cgwuw/1688795625/3/4/5/6/0/6/i6wk003v5dwv.vtt';

block content
	link(href='/stylesheets/test.css' rel='stylesheet')
	link(href='/stylesheets/read-book-legacy.css' rel='stylesheet')

	.page.test
		.container
			.video-container
				video(controls='true' autoplay='true' crossorigin='anonymous', height='auto')
					source(src= linkVideo type='video/mp4')
					track(src= linkSubtitles kind='subtitles' srclang='en' label='English' default='')

				.add-phrase
					.row
						p
							span.phrase
							|  - 
							span.translation
						
						button.close x
						
					button.save + В словарь

				.subscriptions
					p

block scripts
	script(src='https://code.jquery.com/jquery-3.6.4.min.js')
	script(src='/javascripts/web/test.js')
