extends ../app

block variables
	-
		const pageTitle = 'Test2';

block content
	.page.test

block scripts
	//- script(src='/libs/jquery-mobile.min.js')
	script(src='https://unpkg.com/axios/dist/axios.min.js')

	script(src='/javascripts/web/test2.js')
