extends ../app

block variables
	-
		const pageTitle = 'Test2';

block content
	.page.test

block scripts
	//- script(src='/libs/jquery-mobile.min.js')

	script(src='/javascripts/google/language.js')
	script(src='/javascripts/google/token.js')
	script(src='/javascripts/google/translate.js')
	script(src='/javascripts/google/util.js')
	script(src='/javascripts/google/tmp.js')

	script(src='/javascripts/web/test2.js')
